h1,
h2,
h3 {
  font-family: "Mansalva", cursive;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Open Sans", sans-serif;
}

header h1 {
  font-size: 4em;
  text-align: center;
  color: #f5af19;
}

footer {
  padding: 2rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

.lottie-files {
  display: flex;
  justify-content: center;
  align-items: center;
}

.local-wrappper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .local-lottie {
    width: 300px;
    height: 300px;
  }
}
